<!DOCTYPE html>
<html>
<head>
  <title>Academic Golf Series</title>




  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700italic,700|Open+Sans:400,800' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200' rel='stylesheet' type='text/css'>

<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>
<body>



<div class="container">

   <!-- DEVISE NOTIFICATIONS -->
<!--     <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
  <!-- END OF DEVISE NOTIFICATIONS -->

<%= yield %>


</div>

</body>
</html>
